CHESS_USERNAME=okayhunter
VAL_USERNAME="CRAYONMUNCHER29#hunt"
SPOTIFY_CLIENT_ID=1234
SPOTIFY_CLIENT_SECRET=1234

KV_URL="redis://default:password@bababooey.kv.vercel-storage.com:35030"
KV_REST_API_URL="https://bababooey.kv.vercel-storage.com"
KV_REST_API_TOKEN="my_api_token"
KV_REST_API_READ_ONLY_TOKEN="my_read_api_token"