---
import * as contentList from "../content/content-list.md";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Content list">
  <div class="prose prose-invert mt-8">
    <contentList.Content />
  </div>
</PageLayout>
