---
import { Icon } from "astro-icon/components";

import Layout from "./Layout.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <slot slot="head" name="head" />
  <a
    class="pt-5 pb-3 sticky top-0 z-10 bg-background border-b border-zinc-600 text-xs md:text-sm lg:text-base flex justify-between items-center text-zinc-400 hover:text-zinc-200 transition"
    href="/"
  >
    <div class="flex items-center gap-1">
      <Icon name="octicon:arrow-left-16" />
      <span>home</span>
    </div>
    <div class="alt-text">Hunter Lovell</div>
  </a>
  <div class="mb-20">
    <slot />
  </div>
</Layout>
